@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.container {
  padding: 0.5rem;
  margin: 10rem 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  
  height: auto;
  width: 18rem;
  
  border-radius: 10px;
}

.container img {
  margin: 0.5rem;
  width: 16rem;
  height: 16rem;
  
  border-radius: 10px;
}

.container h2, p, .attribution {
  font-family: 'Outfit', Sans-Serif;
  margin-top: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 0.9rem;
  color: hsl(220, 15%, 55%);
}

.attribution { 
  font-size: 0.65rem; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
a:hover {
  color: hsl(200, 45%, 44%);
}